* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(24, 91%, 77%);
    text-align: center;
    margin-top: 10vh;
    padding: 20px;
    border-radius: 8px;
}

input {
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 60%;
}

button {
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    background-color: hsl(180, 69%, 35%);
    color: white;
}

#change-due, #cash-in-drawer {
    margin-bottom: 1.5rem;
    font-size: 18px;
}

@media only screen and (max-width: 500px) {
    #container {
        width: 90%;
        margin-top: 15vh;
    }
}